/* @import url("https://fonts.googleapis.com/css?family=Work+Sans:regular&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Manrope:300&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700&display=swap");

@import url("fonts.css");

@import url("reset.css");


.wraper{
overflow: hidden;
min-height: 100%;
font-family: "Epilogue";


}
[ class*="__container" ]{
    max-width: 1210px;
    margin: 0 auto;
    padding-inline: 15px;
}
body {
    background-color: #28293E;
    font-family: "Epilogue";

}

.header {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 20;
    background-color: #28293eb2;
    padding-block: 16px;

}
.header:not(:last-child) {
    margin-bottom: 68px;
}
.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.logo {

}
.box {
    display: flex;
    justify-content: center;
    
    color: #fff;
    max-width: 515px;
    width: 100%;
    justify-content: space-between;
    padding-inline: 10px;
    flex-wrap: wrap;

}
.header__item {
    padding-inline: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 200%;
    transition: all 0.5s;

}
.header__item:hover{
    transform: scale(1.1);
}
.button {
    padding: 18px 35px 16px 35px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    transition: all 0.5s;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;

}
.button:hover {
    border-radius: 6px;
    background: #B550F8;
}
.button--header {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

/* ----------------------- */


.portfolio {
}
.portfolio__container {
}
.portfolio__main {

}
.portfolio__main:not(:last-child){
    margin-bottom: 36px;

}

.title__small {
    color: #EF6D58;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;

}
.title__small:not(:last-child) {
    margin-bottom: 20px;
}
.title__content {
    color: #fff;
    font-size: 56px;
    font-weight: 800;
    line-height: 114.286%; 
    letter-spacing: -1px;
    text-align: center;

}
.portfolio__box {
    display: flex;
    justify-content: center;
}
.portfolio__box:not(:last-child) {
    margin-bottom: 68px;
}
.portfolio__menu {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    max-width: 575px;
    width: 100%;
    padding-inline: 10px;

}
.portfolio__link {
    text-align: center;
    color: rgba(255, 255, 255, 0.64);
    position: relative;
    padding-inline: 10px;
    transition: all 0.5s;

}
.portfolio__link:hover {
    color:  #FFF;


}
.portfolio__link:nth-child(1){
    color:  #FFF;

}
.portfolio__link:nth-child(1)::after{
    content: "14";
    position: absolute;
    top: -15px;
    font-size: 14px;
    line-height: 171.429%;
}
.portfolio__link:nth-child(2)::after{
    content: "6";
    position: absolute;
    top: -15px;
    font-size: 14px;
    line-height: 171.429%;
}
.portfolio__link:nth-child(3)::after{
    content: "4";
    position: absolute;
    top: -15px;
    font-size: 14px;
    line-height: 171.429%;
}
.portfolio__link:nth-child(4)::after{
    content: "3";
    position: absolute;
    top: -15px;
    font-size: 14px;
    line-height: 171.429%;
}
.portfolio__link:nth-child(5)::after{
    content: "1";
    position: absolute;
    top: -15px;
    font-size: 14px;
    line-height: 171.429%;
}

.portfolio__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 32px;

}

.portfolio__items:not(:last-child)  {
    margin-bottom: 62px;

}




.portfolio__item {
    position: relative;
    min-height: 416px;
    max-width: 470px;
    width: 100%;
    display: flex;
}

.portfolio__item:hover img{
    opacity: 0.3181;
    background: #9B9B9B;
        
}
.portfolio__item:nth-child(4n+1){
    max-width: 470px;

}
.portfolio__item:nth-child(4n+2){
    max-width: 670px;


}
.portfolio__item:nth-child(4n+3){
    max-width: 670px;

}

.portfolio__item img{
    border-radius: 6px;
    object-fit: cover;
    max-height: 416px;
    width: 100%;
    position: relative;
    transition: all 0.5s;
    z-index: 0;

}
.portfolio__item::after {

    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3181;
    background-color: #5C2000;
    z-index: 1;

}




.portfolio__content {
    position: absolute;
    padding: 51px 48px;
    align-self: flex-end;
    z-index: 3;
}
.portfolio__button {
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    padding: 5px 16px 1px 16px;
    border-radius: 19px;
    background: #FFF;
    margin-bottom: 23px;
    transition: all 0.5s;
}
.portfolio__button:hover{
    background-color: #EF6D58;
}
.portfolio__label {
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
    color: #FFF;
}

.button-main{
    display: flex;
    justify-content: center;

}
.button--main {
     text-transform: uppercase;
}


.portfolio:not(:last-child){
    margin-bottom: 192px;
}


/* --------------- */

.started {
}
.started__container {
    border-radius: 6px;
background: #FDF0E9;
}
.started__box {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px 83px;
    gap: 15px;
    flex-wrap: wrap;
}
.started__main {
    flex: 1 1 240px;
}
.started__main img {
    position: absolute;
    top: -75px;

}

.started__title {
    color:#EF6D58;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%; 
    letter-spacing: 3px;
    text-transform: uppercase;
}
.started__title:not(:last-child) {
    margin-bottom: 13px;
}
.started__lible {
    color: #391400;

    font-size: 24px;
    font-weight: 700;
    line-height: 133.333%;
}
.started__lible:not(:last-child) {
    margin-bottom: 23px;
}
.button {
}
.button--started {
    background: #EF6D58;

}
.started__menu {
    flex: 1 1 300px;

}
.started__card{
    max-width: 338px;
    width: 100%;
    text-align: center;
    position: relative;
}
.started__card img{
    object-fit: cover;
    border-radius: 6px;
}

.started__face {
    flex: 1 1 300px;
}
.started__item{
    position: relative;
    max-width: 239px;
    width: 100%;
}
.started__item img{
    transform: translateX(45%);

}
.started__item img:nth-child(2){
    z-index: 1;
    bottom: 40px;
    left: -60px;
    position: absolute;
}


.started__item img:nth-child(1){
    position: relative;
    margin-top: -60px;
    z-index: 4;
    width: 100%;
    height: 100%; 
}


.started:not(:last-child){
    margin-bottom: 140px;
}

/* ---------------------- */

.event {
}
.event__container {
}
.event__main {
}
.event__main:not(:last-child){
    margin-bottom: 64px;
}

.title__content--width {
    max-width: 426px;
    text-align: center;
    margin: 0 auto;
}
.event__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    color: #fff;

}
.event__items:not(:last-child){
    margin-bottom: 64px;
}
.event__item {
    display: flex;
    flex: 1 1 370px;
    border-radius: 6px;
    border: 1px solid #3A3C56;
    padding-inline: 40px;
    padding-block: 36px;
    flex-direction: column;
    flex-grow: 1;


}

.event__month {
    display: flex;
    /* align-items: center; */
    gap: 12px;
}
.event__month:not(:last-child) {
    margin-bottom: 8px;
}
.event__month h2{
    font-size: 72px;
    font-weight: 800;
    line-height: 111.111%;
    letter-spacing: -2px;
}
.event__month p{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
    max-width: 127px;
}
.event__time {
    font-size: 16px;
    font-weight: 400;
    line-height: 200% ;
    display: flex;
    align-items: center;
    gap: 8px;
}
.event__time::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url("/img/time.svg") center / 16px no-repeat; 
}
.event__time:not(:last-child) {
    margin-bottom: 36px;
}
.event__line {
    width: 290px;
    height: 1px;
    flex-shrink: 0;
    background: #3A3C56;

}
.event__line:not(:last-child) {
    margin-bottom: 40px;
}
.event__title {
    font-size: 24px;

    font-weight: 700;
    line-height: 133.333%;
}
.event__title:not(:last-child) {
    margin-bottom: 19px;
}
.event__text{
    color: rgba(255, 255, 255, 0.64);
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    flex-grow: 1;
}
.event__text:not(:last-child) {
    margin-bottom: 26px;
}
.event__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    align-content: flex-end;
    transition: all 0.4s;
    width: fit-content;
}
.event__link:hover {
    color: #EF6D58;
}
.event__link:not(:last-child) {
    margin-bottom: 10px;
}
.event__button {
    display: flex;
    justify-content: center;
}
.event:not(:last-child) {
    margin-bottom: 140px;
}

/* -------------------- */

.team {
}
.team:not(:last-child) {
    margin-bottom: 180px;
}
.team__container {
}
.team__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.team__title:not(:last-child) {
    margin-bottom: 64px;
}
.team__main {
    
}



.title__small {
}
.title__small--left {
    text-align: start;
}
.title__content {
}
.title__content--left {
    text-align: start;
    max-width: 531px;
}

.team__line {
    display: flex;  
    gap: 16px;
}
.team__line img{
    padding-block: 19.5px;
    padding-inline: 17px;
    border: 1px solid #3A3C56;
    border-radius: 50%;
    transition: all 0.5s;

}
.team__line a:nth-child(2){
    transform: rotate(180deg);
}
.team__line img:hover {
    background-color: #EF6D58;
}

.team__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team__items:not(:last-child) {
    margin-bottom: 52px;
}

.team__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 265px;

}
.team__item img {
    padding: 24px 37px 1px 37px;
    border-radius: 6px;
    border: 1px solid #3A3C56;
    max-width: 100%;
    flex-grow: 1;
    transition: all 0.3s;
}
.team__item img:hover{
    border: 1px solid #fff;
    transform: scale(1.02);

}
.team__item img:not(:last-child) {
    margin-bottom: 26px;
}
.team__item h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 133.333%;
    color:  #fff;

}
.team__item h4:not(:last-child) {
    margin-bottom: 3px;
}
.team__item p{
    color:  rgba(255, 255, 255, 0.64);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%; 

}
.team__slaider {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.team__pins {
    border: 1px solid #3A3C56;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    transition: all 0.3s;

}
.team__pins:hover{
    background-color: #EF6D58;
}


/* --------------------- */


.founder {
    color: #fff;
}

.founder__container {
    display: flex;
    gap: 130px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.founder__image {
    max-width: 570px;
    background: url("/img/background.png") center / 100% 100% no-repeat;     
}
.founder__image img{
    padding: 28px 51px 0 42px;
    max-width: 100%;
}

.founder__content {
    max-width: 470px;
}
.founder__label {
    color: #EF6D58;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.founder__label:not(:last-child) {
    margin-bottom: 33px;
}
.founder__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
    position: relative;
    /* z-index: 5; */
}
.founder__title::before{
    content: "";
    width: 100px;
    height: 80px;
    position: absolute;
    background: url("/img/shape.svg") center / 100% 100% no-repeat;
    z-index: -1;
    right: 40px;
    top: -56px;
}

.founder__title:not(:last-child) {
    margin-bottom: 44px;
}
.founder__name {
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}
.founder__name:not(:last-child) {
    margin-bottom: 6px;
}
.founder__profession {
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    color:rgba(255, 255, 255, 0.64);

}
.founder:not(:last-child) {
    margin-bottom: 40px;
}


/* ------------------- */

.footer {
    color: #fff;
}
.footer__container {
    padding-block: 60px;
    display: flex;
    justify-content: center;
}
.footer__content {
    
    font-size: 30px;
    font-weight: 800;
    line-height: 120%;

}