/* @import url("https://fonts.googleapis.com/css?family=Work+Sans:regular&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Manrope:300&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700&display=swap");

@import url("fonts.css");

@import url("reset.css");


.wraper{
overflow: hidden;
 min-height: 100%;

}
[ class*="__conteiner" ]{
    max-width: 1140px;
    margin: 0 auto;
    padding-inline: 15px;
}
